 * {
        padding: 0;
        margin: 0;
    }
      h1 {
        color: rgb(51, 38, 29);
      }
      body {
        background-color: floralwhite;
        text-align: center;
      }
      .container {
        height: 70vh;

        display: flex;

        justify-content: center;
        align-items: center;
        gap: 1.5vmin;
      }
      .game {
        height: 60vmin;
        width: 60vmin;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5vmin;
      }
      .box {
        height: 18vmin;
        border-radius: 0.5rem;
        border: none;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
        width: 18vmin;
        background-color: #476c9b;
        color: black;
        font-size: 5rem;
      }
      #reset {
        padding: 1rem;
        font-size: 1.25rem;
        background-color: #476c9b;
        color: white;
        border-radius: 0.25rem;
        border: none;
      }
      #new-game{
        padding: 1rem;
        font-size: 1.25rem;
        background-color: #476c9b;
        color: white;
        border-radius: 0.25rem;
        border: none;
      }
      .msg
      {
        height: 100vmin;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: column;
        gap: 4rem;
      }
      #winner{
        font-size: 5vmin;
      }
      .hide{
        display: none;
      }